<template>
  <form class="form" @submit="checkForm">
    <div class="wrap-input">
      <div class="input name">
        <input v-model="name"
               required
               type="text"/>
        <span v-labelStyle>Название</span>
      </div>
      <div class="input year">
        <input v-model="year"
               v-mask="'####'"
               required
               type="text"/>
        <span v-labelStyle>Год</span>
        <div v-if="errorYear" class="error">{{ errorYear }}</div>
      </div>
      <div class="input price">
        <input v-model="price"
               v-mask="'########'"
               required type="text"/>
        <span v-labelStyle>Цена</span>
      </div>
    </div>
    <div class="input description">
      <input v-model="desc"
             required
             type="text"/>
      <span v-labelStyle>Описание</span>
    </div>
    <div class="inner">
      <div class="wrap-radio">
        <div v-labelStyle
             class="radio_title">Цвет
        </div>
        <RadioButton v-model="color"/>
      </div>
      <div class="form__bottom">
        <StatusSelect v-model="status"/>
        <Button :value="'Отправить'"/>
      </div>
    </div>
  </form>
</template>

<script>
import RadioButton from "@/components/common/RadioButton";
import StatusSelect from "@/components/common/StatusSelect";
import Button from "@/components/common/Button";

export default {
  name: "Form",
  data: () => ({
    name: '',
    year: '',
    price: '',
    desc: '',
    color: 'white',
    status: '',
    errors: [],
    errorYear: '',
  }),
  components: {
    RadioButton,
    StatusSelect,
    Button
  },
  methods: {
    addAuto: function () {
      let object = {
        title: this.name,
        year: this.year,
        price: this.price,
        description: this.desc,
        status: this.status,
        color: this.color,
        id: (new Date()).getTime()
      }
      this.$store.dispatch('ADD_AUTO', object).then(() => {
        this.name = '';
        this.year = '';
        this.price = '';
        this.desc = '';
      });
    },
    checkForm: function (e) {
      e.preventDefault();
      this.errors = [];
      this.errorYear = '';

      if (!this.name || !this.desc) {
        this.errors.push('Не заполнено имя или описание.');
      }

      if (!this.year) {
        this.errors.push('Укажите год.');
      } else if (!this.validYear(this.year)) {
        this.errors.push('Укажите корректный год.');
        this.errorYear = 'Укажите год от 1900 и до 2021.'
      }

      if (!this.price) {
        this.errors.push('Укажите цену.');
      } else if (!this.validPrice(this.price)) {
        this.errors.push('Не верно введеная цена.');
      }

      if (!this.errors.length) {
        this.addAuto();
      }
    },
    validYear: function (year) {
      if (year > (new Date()).getFullYear()) {
        return false
      } else {
        let re = /^(19|20)\d\d$/;
        return re.test(year);
      }
    },
    validPrice: function (price) {
      let re = /^[0-9]+$/;
      return re.test(price);
    }
  }
}
</script>

<style lang="scss" scoped>
@import "src/assets/colors";

.form {
  margin-bottom: 134px;

  &__bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -13px;
  }
}

.wrap-input {
  display: flex;
  justify-content: space-between;
}

.wrap-radio {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  flex-shrink: 0;
  flex-grow: 1;

  .radio_title {
    width: 100%;
    margin-bottom: 11px;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
}

.input {
  width: calc(34% - 20px);
  margin-bottom: 30px;
  position: relative;
}

.description {
  width: 100%;
  margin-bottom: 43px;
}

.input {
  position: relative;
  flex-shrink: 0;
}

input {
  font-size: 18px;
  height: 40px;
  outline: none;
  border: 1px solid $grey;
  border-bottom-width: 2px;
  padding: 0 10px 0 10px;
  width: 100%;

  &:focus ~ span,
  &:not(:focus):valid ~ span {
    top: -17px;
    left: 11px;
  }

  &:hover {
    border-bottom-color: $red;
  }

  &:valid {
    border-bottom-color: $common_color;
  }
}

span {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 14px;
  transition: 0.2s ease all;
  font-size: 14px;
  color: $grey_8B8B8B;
}

.error {
  color: red;
  position: absolute;
  bottom: -14px;
  font-size: 10px;
}

@media screen and (max-width: 720px) {
  .wrap-input {
    flex-wrap: wrap;

    .input {
      width: calc(50% - 10px);
    }

    .name {
      width: 100%;
      order: 1;
    }

    .year {
      order: 3;
    }

    .price {
      order: 2;
    }
  }
  .input {
    margin-bottom: 37px;
  }

  .inner {
    flex-wrap: wrap;
  }
  .wrap-radio {
    width: 100%;
    margin-bottom: 36px;
  }

  .form {
    margin-bottom: 60px;
  }

  input {
    &:focus ~ span,
    &:not(:focus):valid ~ span {
      top: -19px;
    }
  }
}
</style>