<template>
  <svg fill="none" height="4" viewBox="0 0 8 4" width="8" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" d="M4 4L8 0H0L4 4Z" fill="#3B3B3B" fill-rule="evenodd"/>
  </svg>
</template>

<script>
export default {
  name: "arrowDark"
}
</script>

<style scoped>

</style>