<template>
  <div class="table">
    <div class="table__header">
      <div ref="name" class="table__header_name">Название</div>
      <div class="table__header_year">Год</div>
      <div class="table__header_color">Цвет</div>
      <div class="table__header_status">Статус</div>
      <div class="table__header_price">Цена</div>
    </div>
    <div class="table__body">
      <div v-for="item in allAuto" :key="item.id" class="table__row">
        <div class="name">{{ item.title }}</div>
        <div class="year">{{ item.year }}</div>
        <div :style="item.color == 'white'? styleForWhiteCircle  : `background:` + item.color" class="color"></div>
        <div class="status">{{ item.status | translateStatus }}</div>
        <div class="price">{{ parseInt(item.price).toLocaleString('ru') }} руб.</div>
        <div class="delete" @click="deleteAuto(item.id)">Удалить</div>
        <div class="desc">{{ item.description }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import widthBlock from "@/mixins/widthBlock";

export default {
  name: "TableInfo",
  mixins: [widthBlock],
  data: () => ({
    styleForWhiteCircle: {
      'border': '1px solid #8B8B8B',
      'background': 'white'
    }
  }),
  mounted() {
    this.widthBlockName();
    window.addEventListener("resize", () => {
      if (window.outerWidth > 720) {
        this.widthBlockName();
      }
    });
  },
  updated() {
    this.widthBlockName();
  },
  computed: {
    allAuto() {
      return this.$store.getters.ALL_AUTO;
    }
  },
  methods: {
    deleteAuto(id) {
      this.$store.dispatch('DELETE_AUTO', id);
    }
  },
  filters: {
    translateStatus: function (el) {
      const codeToValue = {
        pednding: 'Ожидается',
        in_stock: 'В наличии',
        out_of_stock: 'Нет в наличии',
      };
      if (codeToValue[el]) {
        return codeToValue[el]
      } else {
        return el
      }
    }
  },
  destroyed() {
    window.removeEventListener("resize", this.widthBlockName);
  }
}
</script>

<style lang="scss" scoped>
@import "src/assets/colors";

.table {
  margin-bottom: 242px;

  &__header {
    display: flex;
    justify-content: space-between;
    background: $red;
    color: $white;
    min-height: 44px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px 4px 0 0;
    align-items: center;
    padding: 5px 199px 0 16px;

    &_name {
      flex-grow: 1;
    }

    &_price {
      margin-left: 76px;
    }

    &_status {
      margin-left: 32px;
    }

    &_color {
      margin-left: 32px;
    }
  }

  &__body {
    background: $grey_F5F6F6;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 0 18px 15px;
    border-bottom: 1px solid $grey;
  }
}

.name {
  max-width: 48.5%;
  padding-right: 10px;
}

.year {
  margin-right: 32px;
}

.color {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: black;
  margin-right: 35px;
}

.status {
  margin-right: 25px;
  width: 100px;
}

.price {
  margin-right: 22px;
  width: 112px;
  text-align: left;
  flex-shrink: 0;
}

.desc {
  color: $grey_8B8B8B;
  width: 50%;
  font-size: 13px;
  margin-top: 3px;
}

.delete {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: $grey_8B8B8B;
  transition: 0.3s linear;
  cursor: pointer;
  padding: 6px 15px;

  &:hover {
    background: $common_color;
    color: $white;
  }
}

@media screen and (max-width: 720px) {
  .table {
    margin-bottom: 0;

    &__header {
      display: none;
    }

    &__row {
      padding: 16px 20px 15px 20px;
      align-items: flex-start;
    }
  }
  .name {
    flex-grow: 1;
    line-height: 20px;
    margin-bottom: 7px;
    margin-right: 8px;
    max-width: none;
  }
  .color {
    order: 2;
    margin-right: 0;
  }
  .price {
    order: 3;
    margin-right: 0;
    text-align: right;
    width: 112px;
    white-space: nowrap;
  }
  .desc {
    order: 4;
    max-width: none;
    width: 100% !important;
    margin-bottom: 10px;
  }
  .year {
    order: 5;
    margin-right: 17px;
    margin-top: 7px
  }
  .status {
    order: 6;
    flex-grow: 1;
    margin-top: 7px
  }
  .delete {
    order: 7;
    background: $common_color;
    color: $white;
  }
}

@media screen and (max-width: 400px) {
  .name {
    max-width: calc(58% - 5px);
  }
}
</style>