<template>
  <button>
    {{ value }}
    <svg class="arrow" fill="none" height="15" viewBox="0 0 8 15" width="8" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd"
            d="M0.46249 1.33332C-0.0221646 1.85337 -0.0221646 2.69327 0.46249 3.21332L4.88749 7.99999L0.46249 12.72C-0.0221646 13.24 -0.0221646 14.0799 0.46249 14.6C0.697198 14.8524 1.01669 14.9944 1.34999 14.9944C1.68329 14.9944 2.00278 14.8524 2.23749 14.6L7.53749 8.94665C7.77413 8.6963 7.90724 8.3555 7.90724 7.99999C7.90724 7.64447 7.77413 7.30368 7.53749 7.05332L2.23749 1.33332C2.00278 1.0809 1.68329 0.938922 1.34999 0.938922C1.01669 0.938922 0.697198 1.0809 0.46249 1.33332Z"
            fill="white"
            fill-rule="evenodd"/>
    </svg>
  </button>
</template>

<script>
export default {
  name: "Button",
  props: {
    value: String
  }
}
</script>

<style lang="scss" scoped>
@import "src/assets/colors";

button {
  height: 44px;
  width: 100%;
  max-width: 306px;
  background: $red;
  border: none;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  font-family: $body-font-family;
  cursor: pointer;
  transition: 0.3s linear;
  letter-spacing: 0.4px;

  .arrow {
    width: 8px;
    height: 15px;
    margin-top: -2px;
    margin-left: 14px;
  }

  &:hover {
    background: $red_DD1C10;
  }

  &:disabled {
    background: grey;
    cursor: default;
  }
}

@media screen and (max-width: 720px) {
  button {
    margin-top: 0;
    width: 50%;
    max-width: 160px;
    flex-shrink: 0;
  }
}
</style>