<template>
  <footer v-darkBackground>
    <div class="copyright">
      <span>© 2020 CAPTAIN QUACK</span>
      <span>Десница тысячелетия и моллюск!</span>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style lang="scss" scoped>
@import "src/assets/colors";

footer {
  padding: 38px 0;
  display: block;
  font-size: 11px;
  line-height: 13px;
  color: $white;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 14px;
}
</style>