<template>
  <header v-darkBackground>
    <Logo/>
  </header>
</template>

<script>
import Logo from "@/components/common/Logo";

export default {
  name: "Header",
  components: {
    Logo
  }
}
</script>

<style lang="scss" scoped>
@import "src/assets/colors";

header {
  min-height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 720px) {
  header {
    margin-bottom: 30px;
  }
}
</style>