<template>
  <a href="/">
    <img v-animate
         :src="logoSrc"
         alt="logo">
  </a>
</template>

<script>
export default {
  name: "Logo",
  computed: {
    logoSrc() {
      return 'assets/images/logo.png'
    }
  }
}
</script>

<style lang="scss" scoped>
a {
  display: block;
  margin-left: -10px;

  img {
    width: 100%;
    height: 100%;
    max-width: 494px;
    max-height: 98px;
    position: relative;
    top: 9px;
    object-fit: contain;
  }
}

@media screen and (max-width: 720px) {
  a {
    margin-left: 0;

    img {
      max-width: 300px;
      height: 63px;
      top: 0;
    }
  }
}
</style>