<template>
  <div class="wrap-radio">
    <label v-for="(item, index) in colors" :key="index">
      <input :id="item.value"
             :checked="item.checked"
             :value="item.value"
             name="radio"
             type="radio"
             @change="$emit('input', $event.target.value)">
      <span :style="{
        background: item.value,
        border: item.isBorder ? '1px solid #888888' : null
      }"></span>
    </label>
  </div>
</template>

<script>
export default {
  name: "RadioButton",
  data: () => ({
    picked: '',
    colors: [
      {
        hex: '#ffffff',
        value: 'white',
        isBorder: true,
        checked: true
      },
      {
        hex: '#000000',
        value: 'black'
      },
      {
        hex: '#C4C4C4',
        value: 'grey'
      },
      {
        hex: '#DD1C10',
        value: 'red'
      },
      {
        hex: '#77CF61',
        value: 'green'
      }
    ],
  })
}
</script>

<style lang="scss" scoped>
@import "src/assets/colors";

label {
  display: block;
  margin-right: 24px;

  input {
    display: none;
  }
}

span {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: block;
  position: relative;
  cursor: pointer;
}

input:checked ~ span {
  border: none !important;

  &:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: $red;
    z-index: -1;
    left: -3px;
    top: -3px;
    border-radius: 50%;
  }
}

</style>