<template>
  <v-select v-model="selected"
            :options="options"
            class="style-chooser"
            @input="$emit('input', selected)">
    <template #search="{attributes, events}">
      <input
          v-bind="attributes"
          v-on="events"
          :required="!selected"
          class="vs__search"
      />
    </template>
  </v-select>
</template>

<script>
export default {
  name: "StatusSelect",
  data: () => ({
    options: [
      'В наличии',
      'Ожидается',
      'Нет в наличии'
    ],
    selected: 'Статус'
  })
}
</script>

<style lang="scss" scoped>
@import "src/assets/colors";

.v-select {
  width: 100%;
  max-width: 306px;
  height: 44px !important;
  margin-right: 20px;
  border-radius: 0;
}

@media screen and (max-width: 720px) {
  .v-select {
    flex-grow: 1;
    max-width: none;
  }
}
</style>