$grey: #DADADA;
$grey_C4C4C4: #C4C4C4;
$grey_8B8B8B: #8B8B8B;
$grey_F5F6F6: #F5F6F6;

$red: #C3002F;
$red_DD1C10: #DD1C10;

$green: #77CF61;

$black: #000000;
$common_color: #282D30;

$white: #ffffff;


$body-font-family: 'Roboto', sans-serif;