<template>
  <div id="app">
    <Header/>
    <div class="main">
      <section class="section">
        <h1>¡Ay caramba!</h1>
        <Form/>
      </section>
      <section class="section info">
        <div class="title">Автомобили в наличии</div>
        <TableInfo/>
      </section>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Header from "@/components/common/Header";
import Form from "@/components/Form";
import TableInfo from "@/components/TableInfo";
import Footer from "@/components/common/Footer";
import {getAllAuto} from "@/api/getAllAuto";

export default {
  name: 'App',
  components: {
    Header,
    Form,
    TableInfo,
    Footer
  },
  methods: {
    getAllAuto() {
      getAllAuto().then(response => {
        this.$store.dispatch('SET_ALL_AUTO', response.data);
      })
    }
  },
  mounted() {
    this.getAllAuto();
  }
}
</script>

<style lang="scss">
@import "src/assets/colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: $body-font-family;
  height: 100%;
}

.section {
  width: 100%;
  max-width: 958px;
  margin: 0 auto 0;
  padding: 0 10px;
}

h1 {
  color: $common_color;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  margin-bottom: 59px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: $common_color;
  text-transform: uppercase;
  position: relative;
  left: -8px;
  padding-left: 23px;
  margin-bottom: 31px;

  &:before {
    content: '';
    position: absolute;
    width: 3px;
    top: 2px;
    bottom: 3px;
    left: 8px;
    background: $grey_8B8B8B;
  }
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex-grow: 1;
}

/*Стили для селекта*/
.style-chooser.vs--searchable .vs__dropdown-toggle {
  height: 100% !important;
  border-radius: 0;
  border-bottom: 2px solid $grey;
}

.style-chooser .vs__clear svg {
  display: none;
}

.style-chooser.vs--single.vs--loading .vs__selected, .style-chooser.vs--single.vs--open .vs__selected {
  position: static;
  opacity: 1;
  color: $grey_8B8B8B;
}

.style-chooser.vs--open .vs__dropdown-toggle {
  border-bottom-color: $common_color;
}

.style-chooser .vs__dropdown-menu {
  top: 100%;
}

.style-chooser .vs__dropdown-option {
  color: $grey_8B8B8B;

  &:hover {
    background: none;
    color: $common_color;
  }
}

.style-chooser .vs__dropdown-option--highlight {
  background: none;
  outline: none;
  color: $common_color;
}

@media screen and (max-width: 992px) {
  h1 {
    margin-bottom: 39px;
  }
  .title {
    margin: 0 12px 17px;
  }
}

@media screen and (max-width: 720px) {
  .info {
    padding: 0;
  }
}
</style>
